DB_HOST=localhost
DB_PORT=5432
DB_USER=inform_user
DB_PASSWORD=inform_pass
DB_NAME=inform_db

RAKUTEN_APPLICATION_ID=27d238b0-16ec-4b36-b7f7-7d6684546f2a

FIREBASE_PROJECT_ID=oshirasekun-4e5f3
FIREBASE_SERVICE_ACCOUNT_JSON=/Users/nyanko/5s/web3/inform/backend/oshirasekun-4e5f3-firebase-adminsdk-fbsvc-32df33ff85.json

PORT=8080
